{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main class="container-md">
    <hr />
    <header class="gap-4">
      <div>
        <h3>Diversos tipos de Serviços e empresas em um só lugar</h3>

        <p>Encontre as melhores empresas e contrate serviços para tudo que precisar.</p>
      </div>

      <img class="img img-fluid" width="700" src="{% static 'base/img/header-image.png' %}" alt="header-image" />
    </header>

    <div class="row mb-4">
      <div class="col-8">
        <div class="input-group">
          <i class="bi bi-search input-group-text"></i>
          <input class="form-control" />
        </div>
      </div>
      <div class="col-4">
        <input class="form-control btn btn-success" type="submit" value="Pesquisar" />
      </div>
    </div>

    <section class="container-fluid rounded mt-5 shadow">
      <div class="card first-md text-center">
        <div class="card-header">
          <div class="row center-sm middle-sm mt-3 mb-3">
            <h5>Todas as categorias de serviços</h5>
          </div>
        </div>
        <div class="row center-sm between-md space-between">
          <div class="col-sm-4 col-md-1 false">
            <div class="row center-sm text-center">
              <a href="">
                <i class="bi bi-gear-wide"></i>
                <p>
                  Assistência <br /> Técnica
                </p>
              </a>
            </div>
          </div>
          <div class="col-sm-4 col-md-1 false">
            <div class="row center-sm text-center">
              <a href="">
                <i class="bi bi-car-front-fill"></i>
                <p>Autos</p>
              </a>
            </div>
          </div>
          <div class="col-sm-4 col-md-1 false">
            <div class="row center-sm text-center">
              <a href="">
                <i class="bi bi-pencil-fill"></i>
                <p>
                  Aulas e <br /> Disciplinas
                </p>
              </a>
            </div>
          </div>
          <div class="col-sm-4 col-md-1 false">
            <div class="row center-sm text-center">
              <a href="">
                <i class="bi bi-display"></i>
                <p>Tecnologia</p>
              </a>
            </div>
          </div>
          <div class="col-sm-4 col-md-1 false">
            <div class="row center-sm text-center">
              <a href="">
                <i class="bi bi-cup-straw"></i>
                <p>Eventos</p>
              </a>
            </div>
          </div>
          <div class="col-sm-4 col-md-1 false">
            <div class="row center-sm text-center">
              <a href="">
                <i class="bi bi-house"></i>
                <p>
                  Serviços <br /> Domésticos
                </p>
              </a>
            </div>
          </div>
          <div class="col-sm-4 col-md-1 false">
            <div class="row center-sm text-center">
              <a href="">
                <i class="bi bi-handbag"></i>
                <p>
                  Moda e <br /> Beleza
                </p>
              </a>
            </div>
          </div>
          <div class="col-sm-4 col-md-1 false">
            <div class="row center-sm text-center">
              <a href="">
                <i class="bi bi-tools"></i>
                <p>
                  Reforma e <br /> Reparos
                </p>
              </a>
            </div>
          </div>
          <div class="col-sm-4 col-md-1 false">
            <div class="row center-sm text-center">
              <a href="">
                <i class="bi bi-heart-pulse"></i>
                <p>Saúde</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mt-5">
      <div class="text-center">
        <h4>Quem contratou <br /> recomenda</h4>

        <p>
          São mais de 500 mil clientes <br /> e profissionais satisfeitos
        </p>
      </div>
      <div class="container-sm mt-3">
        <h1>"</h1>
        <i>
          <p>
            fui muito bem atendido, a empresa <br />
            foi muito profissional e <br />
            fez um bom trabalho de qualidade. <br />
            Orçamento grátis e não é careiro. <br /><br />
            <b>Serviço de Assistência Técnica:</b> Lucas Cipriano contratou um serviço de São Paulo, SP
          </p>
        </i>

        <h1>"</h1>
        <i>
          <p>
            As empresas são muito bem organizadas e <br />
            dedicadas com seus serviços, tudo que é <br />
            pedido é feito de maneira como pedido. <br />
            Aprovado! <br /><br />
            <b>Serviço de Eventos:</b> Igor Faggiani contratou bum serviço de Santa Catarina, SC
          </p>
        </i>

        <h1>"</h1>
        <i>
          <p>
            Um excelente profissional, e acima de tudo <br />
            confiável. Foi bastante atenciosa aos detalhes <br />
            e extremamente educada, recomendo! <br /><br />
            <b>Serviço de Diarista:</b> Yuri Campos contratou bum serviço de Santa Catarina, SC
          </p>
        </i>
      </div>
    </section>

    <section class="container-fluid card-container mt-5 mb-5">
      <div class="card m-auto text-center border rounded shadow" style="width: 18rem;">
        <img src="{% static 'base/img/card-img.png' %}" class="card-img-top" alt="..." />
        <div class="card-body">
          <i class="bi bi-tools"></i>
          <h5 class="card-title">Reforma e Reparos</h5>
          <p class="card-text">Serviços de Reformas e Reparos para a sua casa ou empresa. Os melhores profissionais.</p>
          <a href="#" class="btn btn-success">Ver Reforma e Reparos</a>
        </div>
      </div>
    </section>

    <section class="mt-5 mb-5">
      <div class="text-center">
        <h4>O que é a GYCIL?</h4>
        <p>GYCIL é uma plataforma de contratação de serviços de empresas do Brasil. Conectando diversas empresas com pessoas que necessitam de serviços e buscam facilidade e rapidez.</p>
      </div>

      <div class="container-sm mt-3 text-center">
        <span><i class="bi bi-credit-card"></i></span>
        <h5>Faça seu pedido</h5>
        <p>Fale o que você precisa. É rápido, é de graça!</p>
        <hr class="line" />

        <span><i class="bi bi-cash-coin"></i></span>
        <h5>Receba diversos orçamentos</h5>
        <p>Empresas avaliadas entram em contato com vocÊ em instantes!</p>
        <hr class="line" />

        <span><i class="bi bi-hand-thumbs-up"></i></span>
        <h5>Escolha o melhor</h5>
        <p>Negocie com as empresas, fácil como nunca visto antes!</p>
        <hr class="line" />
      </div>
    </section>

    <section class="container-fluid mt-5 mb-5 rounded-2">
      <div class="card">
        <div class="card-body text-center rounded shadow">
          <div class="no-margin">
            <h4>Cadastre-se na GYCIL</h4>
            <P>Preencha os campos abaixo:</P>
          </div>
          <form action="">
            <div class="row space-between start-sm top-sm">
              <div class="col-sm-12 col-md-4">
                <div class="text-field-container">
                  <label for="email" class="form-label">Razão Social</label>
                  <input type="email" class="form-control text-center shadow p-3 mb-5 bg-body-tertiary rounded" id="exampleFormControlInput1" placeholder="Digite a Razão Social" name="email_user" />
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="col-sm-12 col-md-4">
                  <div class="text-field-container">
                    <label for="exampleFormControlInput1" class="form-label">CNPJ:</label>
                    <input type="cnpj" class="form-control text-center shadow p-3 mb-5 bg-body-tertiary rounded" id="exampleFormControlInput1" placeholder="Digite o CNPJ da sua empresa" name="cnpj" />
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="col-sm-4 col-md-4"></div>
                <input class="form-control submitBtn" type="submit" value="Cadastre-se" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
