@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
}

body {
  font-family: Montserrat;
}

/* Logo da Navbar */
.logo {
    width: 130px;
    height: 90px;
    display: inline-block;
    background-position: center;
    object-fit: cover;
}

/* Botão do tipo SUBMIT */
.submitBtn {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ffffff;
    background-color: #2D5D4F;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .submitBtn:hover {
    background-color: hsl(156, 70%, 45%);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .submitBtn:active {
    transform: translateY(-1px);
  }

  /* Cor dos Botões de Link <a> */
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    color: hsl(156, 70%, 45%);
  }

  /* Container global para alinhamento */
  /* .container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
  } */

  /* Header */
  header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
  }

  /* Aspas Duplas da página inicial */
  h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 55px;
    color: #2D5D4F;
  }

  /* Icones da página inicial */
  i.bi-hand-thumbs-up {
    color: #2D5D4F;
    font-size: 40px;
  }
  
  i.bi-cash-coin {
    color: #2D5D4F;
    font-size: 40px;
  }

  i.bi-credit-card {
    color: #2D5D4F;
    font-size: 40px;
  }

  hr.line {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 148, 0), rgba(0, 0, 0, 0));
}

.card {
  border-color: #ffffff;
}

section .card-body {
  color: #fff;
  background-color: #2d5d4fd2;
}

.btn-success {
  background-color: #2D5D4F !important;
}

.btn-success:hover {
  background-color: hsl(156, 70%, 45%);
}

/* Card Home Page Reforma e Reparos */
.card-container .card-body {
  background-color: #fff;
}

.card-title {
  color: black;
}

.card-text {
  color: black;
}

.card-container .card {
  border-radius: 15px;
}

.card-header {
  background-color: #fff;
}

.bi-tools {
  color: #2D5D4F;
  font-size: 30px;
}

.bi-gear-wide {
  color: #2D5D4F;
  font-size: 30px;
}

.bi-car-front-fill {
  color: #2D5D4F;
  font-size: 30px;
}

.bi-pencil-fill {
  color: #2D5D4F;
  font-size: 30px;
}

.bi-display {
  color: #2D5D4F;
  font-size: 30px;
}

.bi-cup-straw {
  color: #2D5D4F;
  font-size: 30px;
}

.bi-house {
  color: #2D5D4F;
  font-size: 30px;
}

.bi-handbag {
  color: #2D5D4F;
  font-size: 30px;
}

.bi-heart-pulse {
  color: #2D5D4F;
  font-size: 30px;
}